 {
  box-sizing: border-box;
}
header {
  float: left;
  width: 100%;
  background-color: gray;
  padding: 0px;
  text-align: center;
  font-size: 40px;
  color: white;
}
nav {
  float: left;
  width: 10%;
  height: 550px;
  background-color: gray;
  padding: 20px;

 link 
  color: white;

visited 
  color: white;


hover 
  color: white;


active 
  color: white;

}


aside {
  float: right;
    padding: 20px;
  width: 90%;
  background-color: lightgray;
  height: 550px;
}

  footer {
  float: right;
     width: 100%;
  background-color: gray;
  padding: 10px;
  text-align: center;
  color: white;
}
body {
width: 100%;
margin-left: auto;
margin-right: auto;
 color: rgb: 65, 65, 65;
}  
