 {
  box-sizing: border-box;
}
header {
  float: left;
  width: 100%;
  background-color: blue;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  color: white;
}
nav {
  float: left;
  width: 60%;
  height: 50px;
  background-color: pink;
  padding: 20px;
}

section {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: white;
  height: 250px;
}
article {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: red;
  height: 250px;
}

aside {
  float: right;
    padding: 20px;
  width: 40%;
  background-color: lightblue;
  height: 550px;
}

  footer {
  float: right;
     width: 100%;
  background-color: blue;
  padding: 10px;
  text-align: center;
  color: white;
}
body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  
